API\bin
API\obj
API/bin
API/obj
API/store.db-shm
API/store.db-wal
API/bin/Debug/net9.0/API.dll
API/bin/Debug/net9.0/API.exe
API/bin/Debug/net9.0/API.pdb
API/Data/Migrations/20250122230836_AddPendingChanges.cs
API/Data/Migrations/20250122230836_AddPendingChanges.Designer.cs
API/Data/Migrations/StoreContextModelSnapshot.cs
API/obj/Debug/net9.0/API.AssemblyInfo.cs
API/obj/Debug/net9.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net9.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net9.0/API.dll
API/obj/Debug/net9.0/API.pdb
API/obj/Debug/net9.0/API.sourcelink.json
API/obj/Debug/net9.0/apphost.exe
API/obj/Debug/net9.0/ref/API.dll
API/obj/Debug/net9.0/refint/API.dll
